<div class="col-12 main-header">
    <div class="grid">
        <div class="col-2">
            <img src="./../../../assets/intellect.png" alt="Intellect Logo" class="logo">
        </div>
        <div class="col-10 right-side">
            <div class="justify-content-end float-end flex">
                <ul class="flex m-0">
                    <li class="time">
                        <div class="size-16 text-center"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <div class="size-14 text-center">{{currentTime}}</div>
                    </li>
                    <li class="date">
                        <div class="size-16 text-center"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                        <div class="size-14 text-center">{{formattedDate | date}}</div>
                    </li>

                    <!-- <li class="profile">
                        <select class="profile-dropdown" (change)="onDropdownChange($event)">
                            <option value="username">{{username}}</option>
                            <option value="logout">Logout</option>
                        </select>
                    </li> -->
                    <li class="profile-dropdown">
                        <div class="flex">
                          <i class="fa fa-user-circle-o fa-2x mr-1 mt-2" aria-hidden="true"></i>
                            <select aria-label="Default select example" (change)="onDropdownChange($event)">
                                <option selected disabled>{{ username }}</option>
                                <option value="1">Logout</option>
                            </select>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>
